<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiya.ms.mapper.ImageMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yiya.model.ImageModel" >
	<result property="imgid" column="img_id" />
	<result property="contextpath" column="contextPath"/>
	<result property="contexthtml" column="contextHtml"/>
	<result property="cataid" column="cata_id"/>
	<result property="pagenum" column="pageNum"/>
	<result property="currentpage" column="currentPage"/>
	<result property="currentpageurl" column="currentPageUrl"/>
	<result property="hasnext" column="hasNext"/>
	<result property="baseurl" column="baseUrl"/>
	<result property="isParseerror" column="isParseError"/>
	<result property="exception" column="exception"/>
	<result property="createdat" column="created_at"/>
	<result property="updateedat" column="updateed_at"/>
	<result property="thumbnail" column="thumbNail"/>
	<result property="imgpaths" column="imgPaths"/>
	<result property="title" column="title"/>
	<result property="width" column="width"/>
	<result property="height" column="height"/>
	<result property="zan" column="zan"/>
	<result property="favor" column="favor"/>
	<result property="srcimgpaths" column="srcimgpaths"/>
</resultMap>
       
<!-- site_column table all fields -->
<sql id="Base_Column_List" >
	 img_id,contextPath,contextHtml,cata_id,pageNum,currentPage,currentPageUrl,hasNext,baseUrl,isParseError,exception,created_at,updateed_at,thumbNail,imgPaths,title,width,height,zan,favor,srcimgpaths
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="cataid != ''" >
	    and cata_id =  #{cataid}
	</if>
	<if test="width != ''" >
	    and width =  #{width}
	</if>
	<if test="height != ''" >
	    and height =  #{height}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="com.yiya.model.ImageModel" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into ImageBean(id,siteId,name,link,pic)
 values(#{id},#{siteId},#{name},#{link},#{pic})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.yiya.model.ImageModel">
  update ImageBean set img_id=#{imgid},name=#{name},link=#{link},pic=#{pic} where article_id=#{articleid}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.yiya.model.ImageModel" >
	update ImageBean set 
	<trim  suffixOverrides="," >
	<if test="siteId != ''  ">
		siteId=#{siteId},
	</if>
	</trim> where img_id=#{imgid}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from ImageBean where img_id = #{imgid}
</delete>
 
<!-- 根据id查询 站点栏目 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="com.yiya.model.ImageModel">
	select <include refid="Base_Column_List" /> 
	 from ImageBean where img_id = #{imgid}
</select>

<!-- 站点栏目 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="com.yiya.model.ImageModel">
	select count(1) from ImageBean 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询站点栏目列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="com.yiya.model.ImageModel">
	select 
	<include refid="Base_Column_List"/>
	from ImageBean
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>


<!-- 根据站点id查询栏目 -->
<select id="queryBySiteId"  resultMap="BaseResultMap" parameterType="com.yiya.model.ImageModel">
	select <include refid="Base_Column_List" /> 
	 from ImageBean where img_id = #{imgid}
</select>
  	
</mapper>   
