<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zblog.core.dal.mapper.ImageMapper">
   
    <sql id="select_statements">
        iid,cata_id,title, pageNum,thumbNail,width,height,imgPaths,srcImgPaths,yunImgPaths,thumbSrc,thumbYun,updateed_at
    </sql>
    
   <select id="loadByIntId" parameterType="java.lang.Integer" resultType="Image">
      select <include refid="select_statements"/> from image where id = #{id}
   </select>

   <select id="getImageListByColumn" parameterType="PageModel" resultType="Image">
       select <include refid="select_statements"/> from image left join appcolumn on image.cata_id=appcolumn.cataid 
       where appcolumn.columnid=#{query.columnid} and appcolumn.enable=1 and appcolumn.appid=#{query.appid} and updateed_at &lt;= <![CDATA[DATE_FORMAT(#{query.timestamp},'%Y-%m-%d %H:%m:%s')]]>
   	   order by updateed_at desc
   </select>
   
   <select id="getImageListBySearch" parameterType="PageModel" resultType="Image">
       select <include refid="select_statements"/> from image left join appcolumn on image.cata_id=appcolumn.cataid 
       where appcolumn.appid=#{query.appid} and appcolumn.enable=1 and image.title like #{query.keyname} and updateed_at &lt;= <![CDATA[DATE_FORMAT(#{query.timestamp},'%Y-%m-%d %H:%m:%s')]]>
   	   order by updateed_at desc
   </select>
   <select id="getFavorImageList" parameterType="PageModel" resultType="Image">
       select <include refid="select_statements"/> from image,favor_img
       where favor_img.imei=#{query.imei} and favor_img.favorId=image.iid
   	   order by updateed_at desc
   </select>
   
   <select id="list" parameterType="PageModel" resultType="Image">
       select <include refid="select_statements"/> from image
   </select>
   
   <select id="count" resultType="long">
     select count(*) from image
   </select>
   
   <insert id="insert" parameterType="Image">
      insert into image(id,nickName,realName,password,email,role,status,description,createTime,creator,lastUpdate) 
         values(#{id},#{nickName},#{realName},md5(#{password}),#{email},#{role},#{status},#{description},#{createTime},#{creator},#{lastUpdate})
   </insert>
   
   <update id="update" parameterType="User">
     update user set realName=#{realName},email=#{email},description=#{description}
     <if test="role!=null and role!=''">
        ,role=#{role}
     </if>
     <if test="password!=null and password!=''">
       ,password=md5(#{password})
     </if>
     where id=#{id}
   </update>

   <delete id="deleteById">
	 delete from user where id = #{id}
  </delete>
	
</mapper>