<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zblog.core.dal.mapper.WelcomeMapper">
   
    <sql id="select_statements">
        appid,welecomImgUrl,welcomShowDate,welcomeSeconds,defaultImgUrl,defaultSeconds,showAds,showAdRate,
        isWelcomeFullScreen,isDefaultFullScreen
    </sql>

   <select id="findWelcomeByAppid" parameterType="int" resultType="Welcome">
       select <include refid="select_statements"/> from welcome where appid=#{appid}
   </select>
   
   <insert id="insertWelcome" parameterType="Welcome">
      insert into welcome(<include refid="select_statements"/>)
         values(#{imei},#{favorId},#{createTime},#{enable},#{appid},#{readed})
   </insert>
   
   <update id="updateWelcome" parameterType="Welcome">
     update favor_img set enable=#{enable} ,readed=#{readed},reported=#{reported}
     where imei=#{imei} and appid=#{appid} and favorId=#{favorId}
   </update>
</mapper>